@using _5051.Models
@model LoginViewModel


<h2>@ViewBag.Title</h2>
<div class="row">
<h1>@ViewBag.Message</h1>
<img src="/Content/images/Admin Index.png" class="img-responsive">

	<ul class="nav nav-pills nav-stacked">
		<li>@Html.ActionLink("Attendance Report", "ViewReport", "Admin")</li>
		<li>@Html.ActionLink("Modify Panel", "ModifyPanel", "Admin")</li>
        <li>@Html.ActionLink("Login", "Login", "Admin")</li>
	</ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}